body {
	background-image: url("2.jpg");
	background-repeat: no-repeat;
	background-size: 100% 160%;
}

.center {
		  margin: 0;
		  position: absolute; 	
		  left: 50%;
		  -ms-transform: translate(-50%, -50%);
		  transform: translate(-50%, -50%);
}